@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  font-family: "Poppins";
}
body {
  overflow-x: hidden !important;
}
html {
  scroll-behavior: smooth;
}

#all {
  max-width: 1950px;
  margin: 0 auto;
}
.inside {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}
.inside:hover {
  width: 150px;
}
.inside-back {
  transition: all 0.7s ease-in-out;
}
.main-back:hover .inside-back {
  width: 110% !important;
}
#nav-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.inside.active i {
  background-color: #ffb400;
}
.inside2.active {
  background-color: #ffb400;
}
.inside::before {
  content: "Home";
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: #ffb400;
  padding-left: 15px;
  font-weight: 600;
  transition: all 0.7s ease-in-out;
}

.inside:nth-child(3)::before {
  content: "About";
}
.inside:nth-child(4)::before {
  content: "Skills";
}
.inside:nth-child(5)::before {
  content: "Experience";
}
.inside:nth-child(6)::before {
  content: "Portfolio";
}
.inside:nth-child(7)::before {
  content: "Contact";
}
.inside:hover::before {
  left: 0%;
}

#yellow {
  position: absolute;
  top: -20%;
  left: -22%;
  bottom: 0;
  height: 140%;
  width: 30%;
  background-color: #ffb400;
  transform: rotate(200deg);
}
#black {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: -10;
}

#aboutbtn:hover #btnback {
  width: 100%;
}

/* Skills */
.progress-circle {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 30px 0;
}
svg {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
}
.background {
  fill: none;
  stroke: rgb(32, 32, 32);
  stroke-width: 4;
}

.box:hover #show-box {
  left: 0px;
}
.box:hover .box img {
  transform: scale(1.1);
}
.btn.active {
  background-color: #ffb400;
}
.box {
  display: none;
}
.box.active {
  display: block;
}

/* contact */
#yellow2 {
  position: absolute;
  top: -10%;
  left: 90%;
  bottom: 0;
  height: 140%;
  width: 30%;
  background-color: #ffb400;
  transform: rotate(200deg);
  z-index: 200;
}
#black2 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: -10;
}
